
strong{
  font-weight:600
}

*{
  font-family: canada-type-gibson, Helvetica, Arial, sans-serif;
  text-decoration: none;
}
h1, h2{
  text-align: center;
}

.templatesDiv{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 40px;
}

.templates{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 5%;
}

.buildFormDiv{
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 40px;
}

.buildForm{
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 30%;
}

.buildForm textarea{
  margin: 10px 0px;
}

.outputDiv{
  display: flex;
  flex-direction: column;
}

.klaviyoBtn{
  margin-top: 10px;
  background-color: #0073b9;
}

.htmlRendering{
  border: solid 3px black;
}

button{
  padding: 10px 20px;
  background-color: #0073b9;
  color: white;
  border: none;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  min-width: 50px;
  max-width: 150px;
  margin: 0 auto;
}



a{
  color: white;
}